# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

/server/index.js
/server/index.js.map
/public/build
preferences.arc
sam.json
sam.yaml
.env

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css
